.dataTable td {
    vertical-align: middle;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file-label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f093";
}

.error-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.helpline {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
}

.preview-img {
    display: block;
    position: relative;
    border: 1px solid #ced4da;
    margin-top: 10px;
    object-fit: cover;
    box-sizing: content-box;
    cursor: pointer;
}

.dark-mode .preview-img {
    border-color: #6c757d;
}

.preview-img[src="#"]::before{
    content: "\f574";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    z-index: 1;
    font-size: 50px;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.preview-img[src="#"]::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2)), linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2));
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}

.dark-mode .preview-img[src="#"]::after {
    background-color: #333a40;
}

.table-img {
    max-height: 60px;
}

.nav-tabs .custom-switch {
    display: inline-block;
    margin: 0;
}

.tablefilterarea {
    border: none;
}

.dt-center {
    text-align: center;
}

tr.filter-area {
    background: #dee2e6;
}

.dark-mode tr.filter-area {
    background: #6c757d;
}

.filter-area th {
    padding: 0 1px 0 0!important;
    border: none!important;
}

.table-filter {
    border: none;
    border-radius: 0;
    opacity: 0.5;
}

.alert .close{
    font-size: 30px;
    opacity: 0.8;
    position: absolute;
    right: 15px;
    top: 8px;
}

.dark-mode .alert .close{
    color: #fff;
}
